.clock-container {
  color: white;
  font-size: 1.8rem; /* Tamanho aproximado para alinhar com a altura de 40px do logo */
  font-weight: bold;
  margin-left: -0.5rem; /* Espaçamento entre o relógio e o logo */
}